i{
    cursor: pointer;
    font-size: 2rem;
}
i.bi-hourglass-split{
    color: darkorange;
}

i.bi-emoji-smile-fill{
    color: forestgreen;
}

i.bi-hourglass-top{
    color: firebrick;

}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.overlay-content div.row div.col{
    cursor: pointer;
}
.overlay-content div.r:hover{
    color: green;
}

.overlay-content div.row div.col:hover{
    color: green;
}

.overlay-icons{
    text-align: center;
}

.hithere {
    animation: hithere 1s ease infinite;
}
@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}