span#logo{
    height: 60px;
    width: 200px;
    background-image: url("../img/logo.png");
    background-size: 200px 60px;
    display:inline-block
}
#editor-row{
    --bs-gutter-x: 0em;
}


h1.main{
    font-size: small;
}

textarea {
    width: 100%;
    height: 200px;
}

#answers {
    height: 150px;
}

button {
    width: 100%;
}

.ace_editor, .ace_editor div {
    font-family:monospace;
}

.myCustomMouseOverHighlight-compilation-error {
    border-bottom: 1px dashed red;
    position: absolute;
    cursor: pointer !important;
    pointer-events: auto;
    background: repeating-linear-gradient(
            45deg,
            red,
            yellow 10px,
            red 10px,
            yellow 20px
    );
    opacity: 0.3;
}

.myCustomMouseOverHighlight-execution-error {
    border-bottom: 2px dashed blue;
    position: absolute;
    cursor: pointer !important;
    pointer-events: auto;
    background: repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
    );
    opacity: 0.3;
}


#codeTooltip{
    display: none;
    background: #C8C8C8;
    color : #343a40;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:400px;
    height:200px;
}
#codeTooltip.visible{
    display: inherit;
}

[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
    visibility: hidden;
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: black;
    color: white;
}
[aria-describedby]:hover,
[aria-describedby]:focus {
    position: relative;
}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
    visibility: visible;
}

#editor{
    height: 350px;

}


